.image img{ 
  position: relative;
  width: 100%;
  height: 100%;

}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header{
    font-family: Open-sans;
    position: absolute;
    top: 100px;
    left: 150px;
    color: whitesmoke;
}

.form{
    position: absolute;
    margin: auto;
    top: 250px;
    right: 30px;
    width: 300px;
    height: 450px;
    text-align: center;
    border-radius: 2%;
}

.form input[type=text], input[type=date] {
    width: 50%;
    height: 50%;
    padding: 6px;
    margin: 8px 0;
    box-sizing: border-box;
    text-align: center;
  }

  .form select {
    width: 50%;
    height: 50%;
    padding: 16px 20px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #f1f1f1;
  } 

  .form input[type=button] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

  .form input[type=text]:focus, input[type=date]:focus, select:focus {
    background-color: grey;
  }



  