.Contact {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.fb {
  animation-name: fb-animation;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
}

@keyframes fb-animation {
  0% {left: -150px; top: 100px;}
  100% {left: 0px; top: 100px;}
}

.insta {
  animation-name: insta-animation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes insta-animation {
  0% {left: -150px; top: 100px;}
  100% {left: 0px; top: 100px;}
}

.twi {
  animation-name: twi-animation;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}

@keyframes twi-animation {
  0% {left: -150px; top: 100px;}
  100% {left: 0px; top: 100px;}
}

