/* .Navbar li {
    float: right;
  }

  
.Navbar ul {
    float: right;
    background-color: #dddddd;
    list-style: none;
    align-items: center;
    display: block;
  } 


.Navbar a {
    color: #8F5C2C;
    text-decoration: none;
    box-sizing: border-box;
    width: 100%;
    padding: 4px;
}

.Navbar a:hover,
.Navbar a:active,
.Navbar a.active {
    color: #40A4C8;
} */

.Navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.Navbar li {
  float: right;
}

.Navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.Navbar li a:hover {
  background-color: #111;
}